{% extends "base.html" %}

{% block title %}{{ block.super }} | Home {% endblock %}

{% block nav %}
	{% for p in pages %}
		{% if p.name == thispage %}
			<li class="active"><a href="{{ p.url }}">{{ p.name }}</a></li>
		{% else %}
			<li><a href="{{ p.url }}">{{ p.name }}</a></li>
		{% endif %}
	{% endfor %}
{% endblock nav %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<h1>About {{ proj_name }}</h1>
	<h2>A project primarily by Alex Rattray</h2>
	<hr>
  <p>
    Greg Terrono and I made 
    <a href="http://coursegrapher.com">CourseGrapher</a>
    during the 2011 Fall PennApps Hackathon, and took 
    second place. It was a lot of fun and a wild ride, 
    but I felt like some of what put us ahead of other 
    apps was our looks; not being a programmer by trade, 
    I had a bit more front-end experience than most. 
    I'd rather have teams win because they built something 
    impressive and useful than something beautiful; 
    style should be a level playing field. 
  </p>
  <p>
    We also spent way too much time scratching our heads
    about back-end stuff that should've been easy; 
    without enough time, we couldn't figure out how to 
    set up Django on App Engine (let alone set up an EC2 instance)
    and had to learn GAE's somewhat inferior webapp framework on the fly. 
  </p>
  <p>
    So, I decided to make this to make hackathons 
    (namely, the PennApps Spring 2012 Hackathon)
    more about writing logic and less about worry about styling, 
    server stuff, and other boilerplate. 
	</p>
  <p>
    Hopefully, you'll use this to just write an awesome app 
    without having to worry about writing a lot of CSS, 
    boring html, or worrying about setting up the initial django 
    project and setting up a server to host it online. 
  </p>
</div>
{% endblock content %}
